html {
    font-family: 'Futura', 'Hind', sans-serif;
    color: #fff;
}

body {
    background: #adca6d;
}

#content {
    position: relative;
    height: 100%;
}

#card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name {
    display: inline-block;
    font-size: 57px;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 800;
    font-style: normal;
    text-transform: none;
    letter-spacing: -.02em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 10px;
}

#title{
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: -0.01em;
    color: rgba(255,255,255,.8);
}

#contact {
    background: #fff;
    color: #222;
    border-style: none;
    text-align: center;
    font-weight: 900;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top: 1em;
    padding-right: calc(1.44em - .1em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    text-decoration: none;
    display: inline-block;
}

#links {
    margin-top: 26px;
    white-space: nowrap;
}

.icons {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-left: 1em;
}

.ir {
    overflow: visible;
    padding: 0 0 0 0;
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.icon-wrapper {
    width: 27px;
    height: 27px;
    color: #fff;
    fill: #fff;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.icon-wrapper:hover {
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
